mat-list {
    padding: 1rem;

    mat-list-item {

        padding: 0;

        border-bottom: 1px solid var(--mat-sys-primary-fixed);

        a {

            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &:hover,
            &.activePath {
                background-color: color-mix(in srgb, var(--mat-sys-primary-container) 50%, transparent);
                color: var(--mat-sys-on-primary-container);
            }
        }
    }
}