<section class="h-full flex items-baseline justify-center">
    <mat-card class="w-100 p-8 m-16">
        <form class="flex flex-col gap-4 justify-center">
            <div>
                <mat-form-field class="w-full">
                    <input id="email" matInput placeholder="Email" [formField]="loginForm.email" />
                </mat-form-field>
                @if(loginForm.email().invalid() && (loginForm.email().touched() ||
                loginForm.email().dirty())
                &&
                loginForm.email().getError('required')) {
                <mat-error>
                    {{ loginForm.email().getError('required')?.message }}
                </mat-error>
                }
            </div>
            <div>
                <mat-form-field class="w-full">
                    <input id="password" matInput type="password" placeholder="Password"
                        [formField]="loginForm.password" />
                </mat-form-field>
                @if(loginForm.password().invalid() && (loginForm.password().touched() || loginForm.password().dirty())
                &&
                loginForm.password().getError('required')) {
                <mat-error>
                    {{ loginForm.password().getError('required')?.message }}
                </mat-error>
                }
            </div>
            <button type="button" matButton="filled" class="self-center" [disabled]="loginForm().invalid()"
                (click)="login()">Login</button>
        </form>
    </mat-card>
</section>