.page-header {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
}

mat-sidenav {
    --mat-sidenav-container-shape: 0;
    background-color: var(--mat-sys-surface-container-lowest);
}